<div class="split left">
    <h1>Meet The Team</h1>
    <div class="kata">
        <p>We are the team behind this web-application</p>
    </div>
    <div class="centered">
        <img src="assets/images/adam.jpg" alt="Avatar woman">
        <p> </p>
        <h2>Adam Sazri</h2>
        <p>Adam. 22. Kajang</p>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <img src="assets/images/sopi.jpg" alt="Avatar man">
        <p> </p>
        <h2>Saufi Hamid</h2>
        <p>Saufi. 22. Muar</p>
    </div>
    <div class="butang">
        <button type="button" class="btn btn-info" [routerLink]="['/home']"
            routerLinkActive="router-link-active">Home</button>
        &nbsp;
        <button type="button" class="btn btn-danger" [routerLink]="['/login']"
            routerLinkActive="router-link-active">Logout</button>
    </div>
</div>