<!--Section: FAQ-->
<section>
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">Can you add students into this system?</h6>
        <p>
          <strong><u>Absolutely!</u></strong> By clicking the add students you will be redirected to add students page.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"> Can you edit, delete and list all students?</h6>
        <p>
          <strong><u>Yes, it is possible!</u></strong> By clicking the edit, delete and list you will be redirected to aedit, delete and list page.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"> How long does it takes to develop this web-application?
        </h6>
        <p>
          Not too long or too short.
        </p>
      </div>

    </div>

    <div class="butang">
        <button type="button" class="btn btn-info" [routerLink]="['/home']"
            routerLinkActive="router-link-active">Home</button>
        &nbsp;
        <button type="button" class="btn btn-danger" [routerLink]="['/login']"
            routerLinkActive="router-link-active">Logout</button>
    </div>
  </section>
  <!--Section: FAQ-->