<div>
  <img src="assets/images/tadika2.jpg" alt="tadika2" width="1366" height="629">
</div>


<div class="split left">
  <h1>Tadika Harian Ceria</h1>
  <h3>Student Management System</h3>
  <p> </p>
  <img src="assets/images/tadika1.jpg" alt="tadika1" width="800" height="345">
</div>


<div class="split right">

  <h3>Overview</h3>
    <p>Student Management System is a web-based student accounting system, used for managing Tadika Harian Ceria Students.</p>

      <button type="button" class="btn btn-primary" [routerLink]="['/add']" routerLinkActive="router-link-active">Add Student</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" [routerLink]="['/list']" routerLinkActive="router-link-active">List Student</button>  
      &nbsp;
      <button type="button" class="btn btn-info" [routerLink]="['/about']" routerLinkActive="router-link-active">About</button>
      &nbsp;
      <button type="button" class="btn btn-danger" [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</button>
      <P> </P>
      <button type="button" class="btn btn-danger" [routerLink]="['/login']" routerLinkActive="router-link-active">Logout</button>
</div>

