<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add']" routerLinkActive="router-link-active">Add Student </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']" routerLinkActive="router-link-active">List Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h2>List Of Students</h2>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Score</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentData">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.class}}</td>
        <td>{{item.score}}</td>
        <td>
          <i (click)="deleteStudent(item.id)" class="fa fa-trash"></i>
          &nbsp; &nbsp;
          <a [routerLink]="['/edit',  item.id]" routerLinkActive="router-link-active" ><i class="fa fa-edit"></i></a>
        </td>
      </tr>
    
    </tbody>
  </table>
